.home {

    align-items: center;
    background-color: rgba(238, 125, 32, 0.5);
    
    display: flex;
    padding: 25px 25px 25px 25px;
    height: 350px;
    position: absolute;
    top: 120px;
    right: 100Px;
  
  }

  .Welcome {
    opacity: 1;
    color:  rgb(20, 43, 141);
  }

  .Notfound {
    opacity: 1;
    color:  rgb(20, 43, 141);
  }

  .LoginBadge {

    position: absolute;
    top: 140px;
    right: 295Px;

  }


  .form-label { 

    color: rgb(15, 61, 88);
    font-weight: 800;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
   
    filter: brightness(1.35);
    
  }

  .navbar-brand:focus,
.navbar-brand:hover {
  text-emphasis-color: white;
}

/*
background: rgba(156, 59, 185, 0.3);
 backdrop-filter: blur(10px);


*/





  .form-control {
    
    color: rgb(20, 43, 141) !important;  
    filter: brightness(1.35);
    border-color: rgba(212, 103, 14, 0.6);
    font-weight: 600 !important;
    opacity: .85 !important;
   }

   .form-control::selection {

    color: #020e11 !important;
    background-color:  rgb(230, 103, 30);

   }



   .form-check-label {
    color: rgb(20, 43, 141) !important;
    filter: brightness(1.35);
    font-weight: 500 !important;
    backdrop-filter: blur(20px) !important;

  }

  .form-check-input {
    outline: 1px solid #c643e0;
  }

  .btn-primary {

    background-color: rgb(230, 103, 30);
    transition: opacity 600ms ease-in-out;
    border-color: #da590f;
  }

  .btn-primary:hover {
    background-color: rgba(30, 104, 122, 0.75); 
  }

  .btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(194, 66, 16, 0.5);
  border-color: #da590f;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
  background-color: rgba(30, 104, 122, 0.95);
  
}

.btn-primary.disabled,
.btn-primary:disabled {
  opacity: 0;
	color: #fff;
	background-color: #92b1d1;
  border-color: #da590f;
}

.Submit {
  display: flex;
}

.alert {
  position: absolute;
  height: 130px;
  width: 300px;
  top: 25px;
  right: 270Px;  

}

.alert-danger {
  color: #d3e4e9;

	background-color: rgba(30, 104, 122, 0.55);
  border-color: rgba(111, 187, 206, 0.55);
  text-shadow: 0 0 2px rgb(196, 91, 21), 0 0 4px rgb(196, 91, 21);
}

/* CSS Transisiton Section */

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active{
  opacity: 0.7;
  transition: opacity 600ms ease-in-out;

}

.fade.fade-enter-done{
  opacity: 1; 

}

